:root {
  --color-lightest: #fff4e6;
  --color-light: #ffe8cc;
  --color-medium: #ffa94d;
  --color-dark: #ff922b;
}

.container {
  padding: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.column {
  padding: 10px;
  background-color: #e9d1dd;
  text-align: center;
  border: 1px solid #ddd;
}

.grid-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  text-align: center;
  list-style: none;
}

.grid-list li {
  background-color: #dfe6ebe5;
}

.form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

.form-row {
  margin-bottom: 15px;
}
label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
}
input {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: solid #ccc;
  border-radius: 4px;
}

.button {
  background-color: #f3b6c5;
  color: #343a40;
  /* padding: 0.8rem 1.2rem; */
  /* border: none; */
  border-radius: 7px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background-color: var(--color-dark);
}

.selected-inp {
  background-color: #0c451e;
  color: white;
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.goal-title {
  background-color: #f3b6c5;
  padding: 10px;
  margin: 0;
}

p {
  display: flex;
  justify-content: space-between;
}

.goal-property {
  flex: 0.5;
  margin-right: 10px;
}
.goal-value {
  flex: 1;
  text-align: center;
}
